{% extends "base.html" %}

{% block title %}Account Overview{% endblock %}

{% block content %}
  <h1 class="text-center">Account Overview</h1>
  <div class="text-center">
  <table class="inline-block_center text-left account_admin_table">
    <tr>
      <td>Username:</td>
      <td colspan="2">{{ user.username }}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{ user.email }}</td>
      <td><a href="{% url 'account:change email' %}">change</a></td>
    </tr>
    <tr>
      <td colspan="2">Password:</td>
      <td><a href="{% url 'account:change password' %}">change</a></td>
    </tr>
    <tr>
      <td colspan="3" class="text-center"><a href="{% url 'account:delete account' %}" class="link_button red-background">Delete Account</a></td>
    </tr>
  </table>

  <h2>Follow some users</h2>
  <form method="POST" action="{% url 'account:follow user' user_id=1 %}">
    {% csrf_token %}
    <input type="submit" value="Follow user 1">
  </form>

  <form method="POST" action="{% url 'account:follow user' user_id=11 %}">
    {% csrf_token %}
    <input type="submit" value="Follow user 11">
  </form>
{% endblock %}
