{% extends "base.html" %}

{% block title %}Account Overview{% endblock %}

{% block content %}
  <h1 class="text-center">Account Settings</h1>
  <div class="text-center">
  <table class="inline-block_center text-left account_admin_table">
    <tr>
      <td>Username:</td>
      <td colspan="2">{{ user.username }}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{ user.email }}</td>
      <td><a href="{% url 'account:change email' %}">change</a></td>
    </tr>
    <tr>
      <td colspan="2">Password:</td>
      <td><a href="{% url 'account:change password' %}">change</a></td>
    </tr>
    <tr>
      <td colspan="3" class="text-center"><a href="{% url 'account:delete account' %}" class="link_button red-background">Delete Account</a></td>
    </tr>
  </table>
{% endblock %}
