{% extends "base.html" %}

{% block title %}Account Overview{% endblock %}

{% block content %}
  <h1 class="text-center">Account Overview</h1>
  <div class="block_center text-center">
    <ul class="inline-block_center text-left">
      <li><a href="{% url 'account:change password' %}">change password</a></li>
      <li>Current email: {{ user.email }} <a href="{% url 'account:change email' %}">change email</a></li>
      <li><a href="{% url 'account:delete account' %}">Delete Account</a></li>
    </ul>
  </div>
{% endblock %}
