{% extends "base.html" %}

{% block title %}View {{ view_user.username }}'s Profile{% endblock %}

{% block content %}
  <h1 class="text-center">{{ view_user.username }}</h1>
  <div class="text-center">
      {% if followed == "Self" %}
      <div>
        <a href="{% url 'account:overview' %}">settings</a>
      </div>
      {% elif followed == False %}
        <form method="POST" action="{% url 'account:follow user' user_id=view_user.id %}" class="block_center">
          {% csrf_token %}
          <input type="hidden" name="next_url" value="{% url 'account:view profile' user_id=view_user.id %}">
          <input type="submit" value="Follow">
        </form>
      {% elif followed == True %}
        <form method="POST" action="{% url 'account:unfollow user' user_id=view_user.id %}" class="block_center">
          {% csrf_token %}
          <input type="hidden" name="next_url" value="{% url 'account:view profile' user_id=view_user.id %}">
          <input type="submit" value="Unfollow">
        </form>
      {% else %}
        {{ followed }}
      {% endif %}
    <p class="block_center text-center">
        {{ view_user.bio.text }}
    </p>
    {% if poll_list %}
      <div class="block_center text-center poll_stream">
        {% for poll in poll_list %}
          {% include "modules/poll_stream_item.html" %}
        {% endfor %}
      </div>
    {% else %}
        <p class="block_center">This user hasn't added any polls yet!</p>
    {% endif %}
  </div>
{% endblock %}
