{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block homeactive %}current_page{% endblock %}

{% block content %}


  {% if user.is_authenticated %}
    <h1>Welcome, {{ user.username }}</h1>
    {% if polls %}
      <h2 class="text-center">Your Polls</h2>
      <div class="text-center poll_viewer_container">
      {% for poll in polls %}
        {% include "modules/poll_viewer.html" %}
      {% endfor %}
      </div>
    {% else %}
      <h2 class="text-center">You don't have any polls!</h2>
      <p class="block_center">
        Why don't you <a href="{% url 'create poll' %}">create your first poll</a>
        so you can share it with your friends?
      </p>
    {% endif %}

  {% else %}
    <h1 class="text-center">Welcome to MyVote</h1>
    <p class="block_center">
      MyVote is a free platform for creating and sharing polls. <a href="{% url 'account:signup' %}">Sign up</a>
      so you can create as many polls as you want, share them with your friends, and follow other users!
    </p>
  {% endif %}
{% endblock %}
