{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block homeactive %}current_page{% endblock %}

{% block content %}


  {% if user.is_authenticated %}

    {% if followed_polls %}
    <div class="block_center text-center poll_stream">
      <h2>Your Network</h2>
      {% for poll in followed_polls %}
        {% include "modules/poll_stream_item.html" %}
      {% endfor %}
    </div>
    {% endif %}


  {% else %}
    <h1 class="text-center">Welcome to MyVote</h1>
    <p class="block_center">
      MyVote is a free platform for creating and sharing polls. <a href="{% url 'account:signup' %}">Sign up</a>
      so you can create as many polls as you want, share them with your friends, and follow other users!
    </p>
  {% endif %}
{% endblock %}
