{% extends "base.html" %}
{% load tz %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
  <h1 class="text-center">{{ page_title }}</h1>

  <div class="block_center text-center poll_stream">
    {% for poll in polls %}
      {% include "modules/poll_stream_item.html" %}
    {% endfor %}
  </div>

  <div class="pagination block_center text-center">
    {% if polls.has_previous %}
      <a href="?page={{ polls.previous_page_number }}">&lt;- previous</a>
    {% endif %}

    <span class="current">
      Page {{ polls.number }} of {{ polls.paginator.num_pages }}
    </span>

    {% if polls.has_next %}
      <a href="?page={{ polls.next_page_number }}">next -&gt;</a>
    {% endif %}
  </div>
{% endblock %}
