{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
<h1 class="text-center">Search</h1>

{% include "modules/search/search_form.html" %}


{% if search_val %}
  <h2>Search Results</h2>
  <h3>Users</h3>
  {% if user_search_results %}
    {% for user in user_search_results %}
      <div>
        <a href="{% url 'account:view profile' user_id=user.id %}">{{ user.username }}</a>
      </div>
    {% endfor %}
  <a href="{% url 'search users' %}?search_val={{ search_val }}">view all matching users -&gt;</a>
  {% else %}
    <p>No users found matching <i>"{{ search_val }}"</i></p>
  {% endif %}

  <h3>Polls</h3>
  {% if poll_search_results %}
    {% for poll in poll_search_results %}
    <div>
      <a href="{% url 'view poll' poll_id=poll.id %}">{{ poll.name }}</a>
    </div>
    {% endfor %}
  <a href="{% url 'search polls' %}?search_val={{ search_val }}">view all matching polls -&gt;</a>
  {% else %}
  <p>No polls found matching <i>"{{ search_val }}"g</i></p>
  {% endif %}

{% endif %}

{% endblock %}
