{% extends "base.html" %}

{% block title %}View Poll: {{ poll.name }}{% endblock %}

{% block content %}
<h1 class="text-center">{{ poll.name }}</h1>
<h2 class="text-center"><a href="{% url 'account:view profile' user_id=poll.owner.id %}">{{ poll.owner.username }}</a></h2>
{% if user_has_voted %}
  <p class="block_center text-center">You have already voted on this poll</p>
{% endif %}
<div class="text-center">
  <table class="inline-block_center text-center">
    <tr><th>Option</th><th>Votes</th><th></th></tr>
    {% for option in poll.options.all %}
    <tr>
      <td>{{ option.option_text }}</td>
      <td>{{ option.votes.count }}</td>
      {% if not user_has_voted %}
      <td><a href="{% url 'vote poll' poll_id=poll.id option_id=option.id %}">Vote</a></td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% if user == poll.owner %}
  <div class="text-center more-top-margin">
    <a href="{% url 'delete poll' poll_id=poll.id %}" class="link_button red-background">Delete this poll</a>
  </div>
  {% endif %}
</div>

{% endblock %}
